# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo

# ==========================
# Virtual Environment
# ==========================
env/
venv/

# ==========================
# IDEs
# ==========================
.vscode/
.idea/

# ==========================
# SQLite
# ==========================
*.sqlite3

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Static Files
# ==========================
staticfiles/

# ==========================
# Media Uploads
# ==========================
media/

# ==========================
# Operating System
# ==========================
.DS_Store
Thumbs.db