{% load static %}

<section id="achievements" class="content-achievements content-card-rigth">

    <!--=================================
                HEADER
    =================================-->

    <div class="section-header">

        <h2>

            <i class="fa-solid fa-trophy"></i>

            Logros

        </h2>

        {% if game.achievements.all|length > 5 %}

            <a href="#">
                Ver todos
            </a>

        {% endif %}

    </div>

    <!--=================================
            LISTA
    =================================-->

    <div class="achievement-list">

    {% for achievement in game.achievements.all %}

        <div class="achievement-item">

            <div class="achievement-icon">

                {% if achievement.icon %}

                    <img
                        src="{{ achievement.icon.url }}"
                        alt="{{ achievement.title }}"
                    >

                {% else %}

                    <i class="fa-solid fa-trophy"></i>

                {% endif %}

            </div>

            <div class="achievement-content">

                <div class="achievement-header">

                    <h5>

                        {{ achievement.title }}

                    </h5>

                    {% if achievement.is_hidden %}

                        <span class="achievement-badge">

                            <i class="fa-solid fa-lock"></i>

                            Logro secreto

                        </span>

                    {% endif %}

                </div>

                <span>

                    {{ achievement.description }}

                </span>

            </div>

        </div>

    {% empty %}

        <p class="empty-content">

            No hay logros registrados.

        </p>

    {% endfor %}

</div>

</section>