{% load static %}

<section id="updates" class="content-updates content-card-rigth">

    <!--=================================
                HEADER
    =================================-->

    <div class="section-header">

        <h2>

            <i class="fa-solid fa-file-pen"></i>

            Historial de actualizaciones

        </h2>

        <a href="#">

            Ver todas

        </a>

    </div>

    <!--=================================
                LISTA
    =================================-->

    <div class="updates-list">

        {% for patch in game.patch_notes.all %}

            <article class="update-item {% if forloop.first %}latest-update{% endif %}">

                <div class="update-top">

                    <span class="update-version">

                        v{{ patch.version }}

                    </span>

                    {% if forloop.first %}

                        <span class="update-badge">

                            Más reciente

                        </span>

                    {% endif %}

                    <span class="update-date">

                        {{ patch.release_date|date:"d M Y" }}

                    </span>

                </div>

                <h4>

                    {{ patch.title }}

                </h4>

                <p>

                    {{ patch.description }}

                </p>

                {% if patch.official_url %}

                    <a
                        href="{{ patch.official_url }}"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="update-link"
                    >

                        Ver notas oficiales

                        <i class="fa-solid fa-arrow-up-right-from-square"></i>

                    </a>

                {% endif %}

            </article>

        {% empty %}

            <p class="empty-content">

                No hay actualizaciones registradas.

            </p>

        {% endfor %}

    </div>

</section>