<section class="content-navigation">

    <nav class="navigation-menu">

        <a href="#trailers" class="nav-item active">

            <i class="fa-solid fa-circle-play"></i>

            <span>Trailers</span>

        </a>

        <a href="#gallery" class="nav-item">

            <i class="fa-solid fa-images"></i>

            <span>Galería</span>

        </a>

        <a href="#dlc" class="nav-item">

            <i class="fa-solid fa-box-open"></i>

            <span>DLC</span>

        </a>

        <a href="#guides" class="nav-item">

            <i class="fa-solid fa-book-open"></i>

            <span>Guías</span>

        </a>

        <a href="#achievements" class="nav-item">

            <i class="fa-solid fa-trophy"></i>

            <span>Logros</span>

        </a>

        <a href="#soundtrack" class="nav-item">

            <i class="fa-solid fa-music"></i>

            <span>Banda sonora</span>

        </a>

        <a href="#updates" class="nav-item">

            <i class="fa-solid fa-wrench"></i>

            <span>Actualizaciones</span>

        </a>

    </nav>

</section>