{% load static %}

<section id="dlc" class="content-dlc content-card">

    <!--=================================
                HEADER
    =================================-->

    <div class="section-header">

        <h2>

            <i class="fa-solid fa-cubes"></i>

            DLCs / Expansiones

        </h2>

        <a href="#">

            Ver todas

        </a>

    </div>

    <div class="dlc-list">
    
        <!--=================================
                DLC
        =================================-->

        
        {% for dlc in game.dlcs.all %}

            <div class="dlc-item">

                <!-- Imagen -->

                <div class="dlc-image">

                    <img src="{{ dlc.cover.url }}" alt="{{ dlc.title }}">

                </div>

                <!-- Información -->

                <div class="dlc-content">

                    <div class="dlc-title">

                        <h3>

                            {{ dlc.title }}

                        </h3>

                        <span class="dlc-type">

                            {{ dlc.type }}

                        </span>

                    </div>

                    <span class="release-date">

                        {{ dlc.release_date }}

                    </span>

                    <p>

                        {{ dlc.description }}

                    </p>

                </div>

                <!-- Precio -->

                <div class="dlc-action">

                    {% if dlc.purchase_url %}

                        <a href="{{ dlc.purchase_url }}"
                        target="_blank"
                        class="dlc-btn">

                            Ver DLC

                        </a>

                    {% endif %}

                </div>

            </div>
            
        {% endfor %}

    </div>

</section>