{% load static %}

<section id="trailers" class="content-trailers content-card">

    <!--=================================
                HEADER
    ==================================-->

    <div class="section-header">

        <h2>

            <i class="fa-solid fa-photo-film"></i>

            Trailers y videos

        </h2>

        <a href="#" class="see-all">

            Ver todos

        </a>

    </div>

    <!--=================================
                GRID
    ==================================-->

    <div class="row g-4">

        
        {% for trailer in game.trailers.all %}
            
        <!--=========================
                Trailer
        =========================-->

        <div class="col-lg-3 col-md-6">

            <div class="trailer-card"  data-video="{{ trailer.embed_url }}" data-title="{{ trailer.title }}" data-bs-toggle="modal" data-bs-target="#videoModal">

                <div class="trailer-image">

                    <img src="{{ trailer.thumbnail_url }}" alt="{{ trailer.title }}">

                    <div class="play-button" data-video="{{ trailer.embed_url }}">

                        <i class="fa-solid fa-play"></i>

                    </div>

                </div>

                <div class="trailer-body">

                    <h5>

                        {{ trailer.title }}

                    </h5>

                </div>

            </div>

        </div>
        
        {% endfor %}
        

    </div>

</section>