{% load static %}

<section id="guides" class="content-guides content-card-left">

    <!--=================================
                HEADER
    =================================-->

    <div class="section-header">

        <h2>

            <i class="fa-regular fa-folder-open"></i>

            Guías destacadas

        </h2>

        <a href="#">

            Ver todas

        </a>

    </div>

    <!--=================================
                LISTA
    =================================-->

    <div class="guides-list">

        <!-- Guía -->

        
        {% for guide in game.guides.all %}

            <a href="{{ guide.url }}" target="_blank" class="guide-item">

                <div class="guide-icon">

                    <i class="fa-regular fa-file-lines"></i>

                </div>

                <div class="guide-content">

                    <h5>

                        {{ guide.title }}

                    </h5>

                    <span class="guide-source {{ guide.source|lower }}">

                        {% if guide.source == "YOUTUBE" %}
                            <i class="fa-brands fa-youtube"></i>

                        {% elif guide.source == "STEAM" %}
                            <i class="fa-brands fa-steam"></i>

                        {% elif guide.source == "IGN" %}
                            <i class="fa-solid fa-globe"></i>

                        {% elif guide.source == "FEXTRALIFE" %}
                            <i class="fa-solid fa-book-open"></i>

                        {% else %}
                            <i class="fa-solid fa-link"></i>

                        {% endif %}

                        {{ guide.get_source_display }}

                    </span>

                </div>

            </a>
            
        {% endfor %}

    </div>

</section>