{% load static %}

<section class="game-profile">

    <!--=========================
            Título
    ==========================-->

    <h3>

        Perfil del juego

    </h3>

    <!--=========================
            Géneros
    ==========================-->

    <div class="profile-block">

        <h5>

            <i class="fa-solid fa-gamepad"></i>

            Géneros

        </h5>

        <div class="tags-container">

            {% for genre in game.genres.all %}

                <span class="tag">
                    {{ genre.name }}
                </span>

            {% empty %}

                <span class="tag">
                    Sin géneros registrados
                </span>

            {% endfor %}

        </div>

    </div>

    <!--=========================
            Estadísticas
    ==========================-->

    <div class="profile-stats">


        

    </div>

</section>