{% load static %}

<section class="detail-sidebar-card">

    <!--==================================
                TÍTULO
    ===================================-->

    <h3>

        Ficha técnica

    </h3>

    <!--==================================
            INFORMACIÓN
    ===================================-->

    <div class="game-info-list">

        <div class="info-item">

            <div class="info-icon">

                <i class="fa-regular fa-calendar"></i>

            </div>

            <div class="info-content">

                <span>Lanzamiento</span>

                <strong>{{ game.release_date }}</strong>

            </div>

        </div>

        <div class="info-item">

            <div class="info-icon">

                <i class="fa-solid fa-building"></i>

            </div>

            <div class="info-content">

                <span>Desarrollador</span>

                <strong>
                    {{ game.developer|default:"No disponible" }}
                </strong>

            </div>

        </div>

        <div class="info-item">

            <div class="info-icon">

                <i class="fa-solid fa-briefcase"></i>

            </div>

            <div class="info-content">

                <span>Editor</span>

                <strong>
                    {{ game.publisher|default:"No disponible" }}
                </strong>

            </div>

        </div>

        

        <div class="info-item">

            <div class="info-icon">

                <i class="fa-solid fa-gamepad"></i>

            </div>

            <div class="info-content">

                <span>Multijugador</span>

                <strong>
                    {% if game.has_multiplayer %}
                        Sí
                    {% else %}
                        No
                    {% endif %}
                </strong>

            </div>

        </div>

        <div class="info-item">

            <div class="info-icon">

                <i class="fa-solid fa-desktop"></i>

            </div>

            <div class="info-content">

                <span>Plataformas</span>

                <div class="platform-icons">

                    <strong>
                        {{ game.platforms|default:"No disponible" }}
                    </strong>

                </div>

            </div>

        </div>

        

        

        <div class="info-item">

            <div class="info-icon">

                <i class="fa-solid fa-trophy"></i>

            </div>

            <div class="info-content">

                <span>Logros</span>

                <strong>
                    {{ game.achievements.count }}
                </strong>

            </div>

        </div>

        

        

        <div class="info-item">

            <div class="info-icon">

                <i class="fa-solid fa-user-shield"></i>

            </div>

            <div class="info-content">

                <span>Clasificación</span>

                <span class="age-rating">
                    +{{ game.pegi|default:"No disponible" }}
                </span>

            </div>

        </div>

    </div>

</section>