{% load static %}

<section class="game-reviews">

    <div class="reviews-header">

        <h3>

            <i class="fa-solid fa-star"></i>

            Reseñas de la comunidad

        </h3>

        <button class="review-btn">

            Escribir reseña

        </button>

    </div>

    <!-- =============================
            RESUMEN
    ============================== -->

    <div class="row review-summary align-items-center">

    <!-- Calificación -->

    <div class="review-score">

        <h2>4.9</h2>

            <div class="stars">

                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half-stroke"></i>

            </div>

        <span>12,432 reseñas</span>

    </div>

    <!-- Distribución -->

    <div class="col-lg-9">

        <div class="rating-bars">

            <!-- repetir -->

            <div class="rating-row">

                <span>5 <i class="fa-solid fa-star"></i></span>

                <div class="progress">

                    <div class="progress-bar" style="width:82%"></div>

                </div>

                <strong>82%</strong>

            </div>

            <div class="rating-row">

                <span>4 <i class="fa-solid fa-star"></i></span>

                <div class="progress">

                    <div class="progress-bar" style="width:82%"></div>

                </div>

                <strong>82%</strong>

            </div>

            <div class="rating-row">

                <span>3 <i class="fa-solid fa-star"></i></span>

                <div class="progress">

                    <div class="progress-bar" style="width:82%"></div>

                </div>

                <strong>82%</strong>

            </div>

            <div class="rating-row">

                <span>2 <i class="fa-solid fa-star"></i></span>

                <div class="progress">

                    <div class="progress-bar" style="width:82%"></div>

                </div>

                <strong>82%</strong>

            </div>

            <div class="rating-row">

                <span>1 <i class="fa-solid fa-star"></i></span>

                <div class="progress">

                    <div class="progress-bar" style="width:82%"></div>

                </div>

                <strong>82%</strong>

            </div>

        </div>

    </div>

</div>

    <!-- =============================
            REVIEW
    ============================== -->

    <div class="review-card">

        <div class="review-top">

            <div class="review-user">

                <img src="{% static 'assets/images/profile-header.jpg' %}">

                <div>

                    <h5>Carlos Gómez</h5>

                    <small>215 horas jugadas</small>

                </div>

            </div>

            <div class="review-stars">

                ★★★★★

            </div>

        </div>

        <p>

            Una de las mejores experiencias RPG que he jugado.
            La historia y los personajes son increíbles.

        </p>

        <div class="review-actions">

            <span>

                <i class="fa-regular fa-thumbs-up"></i>

                245

            </span>

            <span>

                <i class="fa-regular fa-thumbs-down"></i>

                12

            </span>

            <span>

                Hace 2 días

            </span>

        </div>

    </div>

</section>