<section class="profile-banner-card">

    <!--==============================
            BANNER
    ===============================-->

    <div class="profile-banner-image">

        <img src="https://images.unsplash.com/photo-1511512578047-dfb367046420?q=80&w=1600&auto=format&fit=crop"
             alt="Banner del usuario">

        <!-- Editar Banner -->

        <button class="profile-banner-edit">

            <i class="fa-solid fa-pencil"></i>

        </button>

    </div>

    <!--==============================
            INFORMACIÓN
    ===============================-->

    <div class="profile-banner-content">

        <!-- Avatar -->

        <div class="profile-avatar">

            <img src="https://i.pravatar.cc/250?img=12"
                 alt="Avatar">

            <button class="profile-avatar-edit">

                <i class="fa-solid fa-camera"></i>

            </button>

        </div>

        <!-- Datos -->

        <div class="profile-user-info">

            <h2>Iván Emmanuel</h2>

            <span>@ivanemmanuel</span>

            <p>

                Backend Developer apasionado por los videojuegos,
                RPG's y el desarrollo web con Django.

            </p>

            <!-- Información adicional -->

            <div class="profile-user-meta">

                <span>

                    <i class="fa-solid fa-location-dot"></i>

                    Aguascalientes, México

                </span>

                <span>

                    <i class="fa-solid fa-calendar-days"></i>

                    Miembro desde Julio 2026

                </span>

            </div>

            <!-- Redes Sociales -->

            <div class="profile-social-links">

                <a href="#">

                    <i class="fa-brands fa-github"></i>

                </a>

                <a href="#">

                    <i class="fa-brands fa-instagram"></i>

                </a>

                <a href="#">

                    <i class="fa-brands fa-x"></i>

                </a>

                <a href="#">

                    <i class="fa-brands fa-facebook"></i>

                </a>

                <a href="#">

                    <i class="fa-brands fa-twitch"></i>

                </a>

            </div>

        </div>

    </div>

</section>