<section class="profile-summary">

    <div class="row g-4">

        <!--==============================
                FAVORITOS
        ==============================-->

        <div class="col-lg-6">

            <div class="profile-summary-card">

                <div class="profile-summary-icon">

                    <i class="fa-solid fa-heart"></i>

                </div>

                <span class="profile-summary-label">

                    Juegos en mi biblioteca

                </span>

                <h3>

                    22

                </h3>

            </div>

        </div>

        <!--==============================
                LOGROS
        ==============================-->

        <div class="col-lg-6">

            <div class="profile-summary-card">

                <div class="profile-summary-icon">

                    <i class="fa-solid fa-trophy"></i>

                </div>

                <span class="profile-summary-label">

                    Logros Desbloqueados

                </span>

                <h3>

                    128

                </h3>

            </div>

        </div>

    </div>

</section>