<section class="profile-banner-card">

    <!--==============================
            BANNER
    ===============================-->

    <div class="profile-banner-image">

        <img
            src="{{ banner_picture }}"
            alt="Banner del usuario"
            id="banner-preview"
        >

        <button
            type="button"
            class="profile-banner-edit"
            id="banner-edit-button"
        >
            <i class="fa-solid fa-camera"></i>
        </button>

        <div class="d-none">
            {{ form.banner }}
        </div>

    </div>

    <!--==============================
            INFORMACIÓN
    ===============================-->

    <div class="profile-banner-content">

        <!-- Avatar -->

        <div class="profile-avatar">

            <img
                src="{{ profile_picture }}"
                alt="Avatar"
                id="avatar-preview"
            >

            <button
                type="button"
                class="profile-avatar-edit"
                id="avatar-edit-button"
            >
                <i class="fa-solid fa-camera"></i>
            </button>

            <div class="d-none">
                {{ form.avatar }}
            </div>

        </div>

        <!-- Datos -->

        <div class="profile-user-info">

            <h2>{{ user.get_full_name }}</h2>

            <span>{{ profile.gamer_tag }}</span>

            <p>

                {{ profile.bio }}

            </p>

            <!-- Información adicional -->

            <div class="profile-user-meta">
                
                {% if profile.city and profile.country %}
                
                    <span>

                        <i class="fa-solid fa-location-dot"></i>

                        {{ profile.city }}, {{ profile.country }}

                    </span>

                {% else %}

                    <span>

                        <i class="fa-solid fa-location-dot"></i>

                        No especificado

                    </span>

                    
                {% endif %}

                <span>

                    <i class="fa-solid fa-calendar-days"></i>

                    Miembro desde {{ user.date_joined|date:"F Y" }}

                </span>
                    


            </div>

            <!-- Redes Sociales -->

            <span>Redes sociales</span>
            <div class="profile-social-links">

                {% if profile.website %}
                
                    <a href="{{ profile.website }}" target="_blank" rel="noopener noreferrer">

                        <i class="fa-solid fa-globe"></i>

                    </a>
                    
                {% endif %}

                
                {% if profile.youtube_url %}
                
                    <a href="{{ profile.youtube_url }}" target="_blank" rel="noopener noreferrer">

                        <i class="fa-brands fa-youtube"></i>

                    </a>

                {% endif %}
                    

                {% if profile.instagram_url %}

                    <a href="{{ profile.instagram_url }}" target="_blank" rel="noopener noreferrer">

                        <i class="fa-brands fa-instagram"></i>

                    </a>

                {% endif %}

                {% if profile.x_url %}

                    <a href="{{ profile.x_url }}" target="_blank" rel="noopener noreferrer">

                        <i class="fa-brands fa-x"></i>

                    </a>

                {% endif %}

                {% if profile.facebook_url %}

                    <a href="{{ profile.facebook_url }}" target="_blank" rel="noopener noreferrer">

                        <i class="fa-brands fa-facebook"></i>

                    </a>
                
                {% endif %}

                {% if profile.twitch_url %}

                    <a href="{{ profile.twitch_url }}" target="_blank" rel="noopener noreferrer">

                        <i class="fa-brands fa-twitch"></i>

                    </a>
                
                {% endif %}

                {% if profile.discord_username %}

                    <a href="{{ profile.discord_username }}" target="_blank" rel="noopener noreferrer">

                        <i class="fa-brands fa-discord"></i>

                    </a>
                
                {% endif %}

                {% if profile.tiktok_url %}

                    <a href="{{ profile.tiktok_url }}" target="_blank" rel="noopener noreferrer">

                        <i class="fa-brands fa-tiktok"></i>

                    </a>

                {% endif %}


            </div>

        </div>

    </div>

</section>