<div class="activity-item">

    <div class="activity-icon">

        {% if activity.type == "library" %}

            <i class="fa-solid fa-gamepad"></i>

        {% elif activity.type == "review" %}

            <i class="fa-solid fa-star"></i>

        {% endif %}

    </div>

    <div class="activity-content">

        <h5>

            {% if activity.type == "library" %}

                Añadiste "{{ activity.game.name }}"

            {% elif activity.type == "review" %}

                Publicaste una reseña de "{{ activity.game.name }}"

            {% endif %}

        </h5>

        <span>

            {{ activity.date }}

        </span>

    </div>

</div>