{% load static %}

<article class="news-card">

    {% if news.image %}

        <img src="{{ news.image.url }}" alt="{{ news.title }}" class="news-card-image">

    {% else %}

        <img src="{% static 'assets/images/default-game-cover.png' %}" alt="{{ news.title }}" class="news-card-image">

    {% endif %}


    <div class="news-card-body">

        {% if news.game %}

            <span class="news-card-game">
                {{ news.game.name }}
            </span>

        {% endif %}


        <h3 class="news-card-title">
            {{ news.title }}
        </h3>


        <p class="news-card-summary">
            {{ news.summary }}
        </p>


        <div class="news-card-meta">

            {% if news.source_name %}

                <span>
                    {{ news.source_name }}
                </span>

            {% endif %}

            <span>
                {{ news.published_at|date:"d M Y" }}
            </span>

        </div>


        <a href="{% url 'news:news_detail' news.slug %}" class="news-card-link">
            Leer noticia

            <i class="fa-solid fa-arrow-right"></i>

        </a>

    </div>

</article>