<section class="dashboard-section">

    <div class="section-header">

        <div>

            <span class="section-subtitle">
                Sigue descubriendo
            </span>

            <h3 class="section-title">
                Continúa explorando
            </h3>

        </div>

        <a href="#" class="section-link">

            Ver todos

            <i class="fa-solid fa-arrow-right"></i>

        </a>

    </div>

    <div class="games-grid">

        {% include "components/common/cards/game_card.html" %}

        {% include "components/common/cards/game_card.html" %}

        {% include "components/common/cards/game_card.html" %}

    </div>

</section>