{% load static %}

<section class="dashboard-sidebar dashboard-card">

    <!--=================================
            PERFIL
    ==================================-->

    <div class="sidebar-profile">

        <img src="{{ profile_picture }}" alt="Avatar">

        <h4>{{ profile_name }}</h4>

        <span>{{ profile_gamer_tag }}</span>

    </div>

    <!--=================================
            MENÚ PERSONAL
    ==================================-->

    <nav class="sidebar-menu">

        <!-- Dashboard -->

        <a href="{% url 'dashboard' %}"
           class="dashboard-link {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">

            <i class="fa-solid fa-house"></i>

            <span>Dashboard</span>

        </a>

        <!-- Biblioteca -->

        <a
            href="{% url 'public:my_library' %}"
            class="dashboard-link {% if request.resolver_match.url_name == 'my_library' %}active{% endif %}"
        >

            <i class="fa-solid fa-gamepad"></i>

            <span>Mi Biblioteca</span>

        </a>

        <!-- Lista de deseos -->
<!--
        <a href="#"
           class="dashboard-link {% if request.resolver_match.url_name == 'dashboard_wishlist' %}active{% endif %}">

            <i class="fa-solid fa-heart"></i>

            <span>Lista de deseos</span>

        </a>
-->
        <!-- Logros -->

        <a href="#"
           class="dashboard-link {% if request.resolver_match.url_name == 'dashboard_achievements' %}active{% endif %}">

            <i class="fa-solid fa-trophy"></i>

            <span>Mis Logros</span>

        </a>

        <!-- Estadísticas -->

        <a href="{% url 'moderation:game_list' %}"
           class="dashboard-link {% if request.resolver_match.url_name == 'dashboard_statistics' %}active{% endif %}">

            <i class="fas fa-user-shield"></i>

            <span>Panel de moderador</span>

        </a>

        <!-- Perfil -->

        <a href="{% url 'dashboard_profile' %}"
           class="dashboard-link {% if request.resolver_match.url_name == 'dashboard_profile' %}active{% endif %}">

            <i class="fa-solid fa-user"></i>

            <span>Mi Perfil</span>

        </a>

        <!-- Configuración -->

        <a href="{% url 'change_password' %}" class="dashboard-link {% if request.resolver_match.url_name == 'change_password' %}active{% endif %}">

            <i class="fas fa-gear"></i>

            <span>Configuración</span>

        </a>

        <!-- Cerrar sesión -->

        <form action="{% url 'logout' %}" method="post" class="dashboard-logout-form">

            {% csrf_token %}

            <button
                type="submit"
                class="dashboard-link dashboard-logout"
            >

                <i class="fa-solid fa-power-off"></i>

                <span>Cerrar sesión</span>

            </button>

        </form>

    </nav>

    <!--=================================
            FRASE
    ==================================-->

    <div class="sidebar-footer">

        <i class="fa-solid fa-gamepad"></i>

        <p>

            Sigue explorando nuevos mundos y completa tu colección.

        </p>

    </div>

</section>