<section class="dashboard-card dashboard-upcoming">

    <div class="upcoming-header">

        <h3>
            Próximos lanzamientos
        </h3>

        <a href="{% url 'public:games_list' %}">
            Ver 
        </a>

    </div>

    <div class="upcoming-list">

        {% for game in upcoming_releases %}

            {% include "components/common/cards/release_card.html" with game=game %}

        {% empty %}

            <p>
                No hay próximos lanzamientos.
            </p>

        {% endfor %}

    </div>

</section>