<section class="dashboard-card dashboard-news">

    <div class="news-header">

        <h3>

            Noticias destacadas

        </h3>

        <a href="{% url 'news:news_list' %}">

            Ver noticias

        </a>

    </div>

    <div class="dashboard-news-list">

        {% for item in latest_news %}

            {% include "components/common/cards/news_card.html" with news=item %}

        {% empty %}

            <p>
                No hay noticias disponibles.
            </p>

        {% endfor %}

    </div>

</section>