{% extends "dashboard/dashboard_base.html" %}

{% block dashboard_content %}

    <form method="post" enctype="multipart/form-data">

        {% csrf_token %}

        {% include "components/profiles/profile_banner.html" %}

        <div class="mt-4">

            {% include "components/profiles/profile_summary.html" %}

        </div>

        <div class="mt-4">

            {% include "components/profiles/profile_preferences.html" %}

        </div>

        <div class="mt-4">

            {% include "components/profiles/profile_form.html" %}

        </div>

    </form>

{% endblock dashboard_content %}