<div class="moderation-stats">

    <div class="stat-card">

        <div class="stat-icon games">

            <i class="fa-solid fa-gamepad"></i>

        </div>

        <div class="stat-info">

            <h3> {{ games_count }} </h3>

            <p>Juegos</p>

        </div>

    </div>

    <div class="stat-card">

        <div class="stat-icon trailers">

            <i class="fa-solid fa-film"></i>

        </div>

        <div class="stat-info">

            <h3> {{ trailers_count }} </h3>

            <p>Trailers</p>

        </div>

    </div>

    <div class="stat-card">

        <div class="stat-icon screenshots">

            <i class="fa-solid fa-camera"></i>

        </div>

        <div class="stat-info">

            <h3> {{ screenshots_count }} </h3>

            <p>Capturas</p>

        </div>

    </div>

    <div class="stat-card">

        <div class="stat-icon achievements">

            <i class="fa-solid fa-trophy"></i>

        </div>

        <div class="stat-info">

            <h3> {{ achievements_count  }} </h3>

            <p>Logros</p>

        </div>

    </div>

    <div class="stat-card">

        <div class="stat-icon soundtrack">

            <i class="fa-solid fa-music"></i>

        </div>

        <div class="stat-info">

            <h3> {{ soundtracks_count }} </h3>

            <p>Soundtraks</p>

        </div>

    </div>

    <div class="stat-card">

        <div class="stat-icon guides">

            <i class="fa-solid fa-book-open"></i>

        </div>

        <div class="stat-info">

            <h3> {{ guides_count }} </h3>

            <p>Guias</p>

        </div>

    </div>

    <div class="stat-card">

        <div class="stat-icon dlcs">

            <i class="fa-solid fa-box-open"></i>

        </div>

        <div class="stat-info">

            <h3> {{ dlcs_count }} </h3>

            <p>DLCs</p>

        </div>

    </div>

    <div class="stat-card">

        <div class="stat-icon patch_notes">

            <i class="fa-solid fa-file-lines"></i>

        </div>

        <div class="stat-info">

            <h3> {{ patch_notes_count }} </h3>

            <p>Actualizaciones</p>

        </div>

    </div>

</div>