{% load static %}

<!-- ==========================================
                    EXPLORE GAMEHUB
     ========================================== -->

<div class="explore-categories">

    <div class="row">


        <!--======================================
                    MÁS POPULARES
        =======================================-->

        <div class="col-lg-4 col-md-6 mb-4">

            <a href="{% url 'public:games_list' %}?popular=true" class="category-card">

                <div class="category-icon text-danger">

                    <i class="fa-solid fa-fire"></i>

                </div>

                <div class="category-info">

                    <h5>Más Populares</h5>

                </div>

            </a>

        </div>


        <!--======================================
                    MEJOR CALIFICADOS
        =======================================-->

        <div class="col-lg-4 col-md-6 mb-4">

            <a href="{% url 'public:games_list' %}?top_rated=true" class="category-card">

                <div class="category-icon text-warning">

                    <i class="fa-solid fa-star"></i>

                </div>

                <div class="category-info">

                    <h5>Mejor Calificados</h5>

                </div>

            </a>

        </div>


        <!--======================================
                    NUEVOS LANZAMIENTOS
        =======================================-->

        <div class="col-lg-4 col-md-6 mb-4">

            <a href="{% url 'public:games_list' %}?new_releases=true" class="category-card">

                <div class="category-icon text-primary">

                    <i class="fa-solid fa-calendar-plus"></i>

                </div>

                <div class="category-info">

                    <h5>Nuevos Lanzamientos</h5>

                </div>

            </a>

        </div>


        <!--======================================
                    PRÓXIMAMENTE
        =======================================-->

        <div class="col-lg-4 col-md-6 mb-4">

            <a href="{% url 'public:games_list' %}?status=Upcoming" class="category-card">

                <div class="category-icon text-secondary">

                    <i class="fa-regular fa-clock"></i>

                </div>

                <div class="category-info">

                    <h5>Próximamente</h5>

                </div>

            </a>

        </div>


        <!--======================================
                    RECOMENDADOS
        =======================================-->

        <div class="col-lg-4 col-md-6 mb-4">

            <a href="{% url 'public:games_list' %}?recommended=true" class="category-card">

                <div class="category-icon text-success">

                    <i class="fa-solid fa-bullseye"></i>

                </div>

                <div class="category-info">

                    <h5>Recomendados para ti</h5>

                </div>

            </a>

        </div>


        <!--======================================
                    MULTIJUGADOR
        =======================================-->

        <div class="col-lg-4 col-md-6 mb-4">

            <a href="{% url 'public:games_list' %}?multiplayer=true" class="category-card">

                <div class="category-icon text-info">

                    <i class="fa-solid fa-users"></i>

                </div>

                <div class="category-info">

                    <h5>Multijugador</h5>

                </div>

            </a>

        </div>


    </div>

</div>


<!-- ==========================================
                FINAL EXPLORE GAMEHUB
     ========================================== -->