{% load game_extras %}
{% load static %}
        <!-- ==========================================
                          JUEGOS POPULARES
        ========================================== -->

          <div class="popular-games">

              <!-- Encabezado -->
              <div class="section-header">

                  <div>

                      <h2>
                          Todos los <span>Juegos</span>
                      </h2>

                      <p>
                          Descubre los títulos más jugados por la comunidad.
                      </p>

                  </div>
<!--         

    <a href="#" class="view-all-btn">
        Ver catálogo completo
      </a>

-->

              </div>

              <div class="row">
                
                {% for game in games_obj %}
                
                <!-- Tarjeta de Juego -->

                <div class="col-lg-3 col-md-6 mb-4">

                  <a href="{% url 'public:games_detail' slug=game.slug %}" class="game-card">

                        <div class="game-image">

                            {% if game.cover %}
                                <img src="{{ game.cover.url }}" alt="{{ game.name }}">
                            {% else %}
                                <img src="{% static 'assets/images/default-game-cover.png' %}"
                                    alt="Sin portada">
                            {% endif %}
                            

                            {% if game.id in library_game_ids %}

                                <div class="favorite-btn">

                                    <i class="fa-solid fa-heart favorite-active"></i>

                                </div>

                            {% endif %}

                        </div>

                          <!-- Valoración -->
                          <!--
                          <div class="rating-badge">

                              <i class="fa-solid fa-star"></i>

                               {{ game.rating }} 

                          </div>

                          -->

                      <!-- Información -->
                      <div class="game-info">

                          <h4>{{ game.name }}</h4>

                          <p class="developer">

                              {{ game.developer }}

                          </p>

                          <!-- Géneros -->
                          <div class="genres">
                            
                            {% for genre in game.genres.all %}
                                <span>{{ genre.name }}</span>
                            {% endfor %}
                                

                          </div>

                          <!-- Plataformas -->
                        <div class="platforms">

                            {% for platform in game.platforms|platform_icons %}

                                {% if platform.icon %}
                                    <i class="fa-brands fa-{{ platform.icon }}"
                                    title="{{ platform.name }}">
                                    </i>
                                {% else %}
                                    <span>{{ platform.name }}</span>
                                {% endif %}

                            {% endfor %}

                        </div>

                          <!-- Estadísticas -->
                          <div class="game-footer">

                                <span>

                                    {% if game.has_multiplayer %}
                                        <i class="fa-solid fa-users"></i>
                                        Multiplayer
                                    {% else %}
                                        <i class="fa-solid fa-user"></i>
                                        Single Player
                                    {% endif %}

                                </span>

                              <span>

                                  <i class="fa-solid fa-calendar"></i>

                                  {{ game.release_date }}

                              </span>

                          </div>

                      </div>

                  </a>

                </div>

                <!-- Fin Juego -->

                {% endfor %}

              </div>

          </div>

        {% include "components/common/navigation/pagination.html" %}