{% load static %}

<section class="news-section">

    <div class="news-header">

        <h3>
            Novedades
        </h3>

        <a href="{% url 'news:news_list' %}">
            Ver todo
        </a>

    </div>


    <div class="games-news-list">

        {% for item in latest_news %}

            {% include "components/common/cards/news_card.html" with news=item %}

        {% empty %}

            <p class="games-news-empty">
                No hay noticias disponibles.
            </p>

        {% endfor %}

    </div>

</section>