{% load static %}

<section class="news-section">

    <div class="news-header">

        <h3>Novedades</h3>

        <a href="#">Ver todo</a>

    </div>

    <!-- Noticia -->

    <div class="news-card">

        <img src="{% static 'assets/images/news-1.jpg' %}" alt="">

        <div class="news-content">

            <span class="news-tag">
                NUEVO
            </span>

            <h5>GTA VI</h5>

            <p>

                Rockstar revela nuevas imágenes del juego.

            </p>

            <small>

                <i class="fa-regular fa-clock"></i>

                Hace 2 horas

            </small>

        </div>

    </div>

    <!-- Noticia -->

    <div class="news-card">

        <img src="{% static 'assets/images/news-2.jpg' %}" alt="">

        <div class="news-content">

            <span class="news-tag purple">

                OFERTA

            </span>

            <h5>Steam Summer Sale</h5>

            <p>

                Miles de juegos con hasta 80% de descuento.

            </p>

            <small>

                <i class="fa-regular fa-clock"></i>

                Hace 5 horas

            </small>

        </div>

    </div>

    <!-- Noticia -->

    <div class="news-card">

        <img src="{% static 'assets/images/news-3.jpg' %}" alt="">

        <div class="news-content">

            <span class="news-tag blue">

                DLC

            </span>

            <h5>Cyberpunk 2077</h5>

            <p>

                Phantom Liberty recibe nueva actualización.

            </p>

            <small>

                <i class="fa-regular fa-clock"></i>

                Hace 1 día

            </small>

        </div>

    </div>

</section>