<div class="modal fade video-modal"
     id="videoModal"
     tabindex="-1"
     aria-labelledby="videoModalLabel"
     aria-hidden="true">

    <div class="modal-dialog modal-xl modal-dialog-centered">

        <div class="modal-content">

            <!-- Header -->

            <div class="modal-header">

                <h5 class="modal-title"
                    id="videoModalLabel">

                    Video

                </h5>

                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal">
                </button>

            </div>

            <!-- Body -->

            <div class="modal-body p-0">

                <div class="ratio ratio-16x9">

                    <iframe
                        id="videoPlayer"
                        loading="lazy"
                        src=""
                        title="Video"
                        allowfullscreen
                        referrerpolicy="strict-origin-when-cross-origin"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture">
                    </iframe>

                </div>

            </div>

        </div>

    </div>

</div>